<div class="article">
  <h4>
    <% if mobile_device? %>
      <%= link_to "#{article.title}", article.file_path, class: 'btn btn-primary btn-lg' %>
    <% else %>
      <%= link_to "#{article.title}", article_path(article), class: 'btn btn-primary btn-lg' %>
    <% end %>
    <span class="text-wrap" style="float: right;margin-top: 10px;">Author: <%= author(article) %></span>
  </h4>
  <p>
    <%= article.text %>
  </p>
  <% article.tags.each do |tag| %>
    <%= link_to "#{tag.name}", tag_path(tag), class: 'btn btn-success btn-sm' %>
  <% end %>
  <br><br>
  <h6>
  <% if is_admin? %> 
    <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-primary' %> 
    <%= link_to 'Delete', article_path(article), method: :delete, class: 'btn btn-primary' %> 
  <% end %>
  <span class="text-wrap" style="float: right;margin-top: -10px;">Comments: <%= comments_counter(article) %></span></h6>
</div><hr>