<div class="card text-center">
  <div class="card-header">
    <%= @article.title %>
  </div>
  <div class="card-body">
    <p class="card-text"><%= @article.text %></p>
    <iframe src='<%= @article.file_path %>' title='testPdf' height='100%' width='100%'></iframe>
  </div>
  <div class="card-footer text-muted">
    <%= @article.created_at %>
  </div>
</div>
<br><br>

<% @article.tags.each do |tag| %>
  <%= link_to "#{tag.name}", tag_path(tag) %>
<% end %>

<% if user_signed_in? %>
  <%= render partial: 'comments/form' %>
<% else %>
  <p><%= link_to 'Log in', new_user_session_path %> or <%= link_to 'register', new_registration_path(:user) %> to post comments</p>
<% end %>

<%= render partial: 'comments/comments' %>
